<!DOCTYPE html>
<html lang="en" ng-app="leanMetrix">

<head>
    <title>LeanMetrix</title>

    <link href="style.css" rel="stylesheet">

    <script src="/lib.min.js"></script>
    <script src="/app.min.js"></script>
    <script src="/templates.js"></script>
</head>


<body>
    <header>
        <img class="logo" src="/img/lean-metrix-logo.svg"></img>
        <ng-include class="auth-panel" src="'auth/auth.html'"></ng-include>
    </header>
    <div class="content">

        <ng-include ng-if="!$root.authData" src="'signin/signin.html'" style="width: 48%; float: left"></ng-include>
        <ng-include ng-if="!$root.authData" src="'create-account/create-account.html'" style="width: 48%; float: left; margin-left: 4%"></ng-include>
        <ng-include ng-if="$root.authData" src="'messages/messages.html'"></ng-include>
    </div>
</body>

</html>
