@font-face {
    font-family: Din;
    src: url(/img/DINRoundPro-Light.woff);
}
* {
    box-sizing: border-box;
    transition: all 0.3;
}
html{
  height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    background-color: #f8f8f8;
    background-size: cover;
}
.prelaunch, .prelaunch-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.prelaunch {
    background-image: url(/img/people.jpg);
    height: 100%;
    text-align: center;
}
.prelaunch-overlay {
    background: linear-gradient(to bottom, rgba(150,150,150,.5) 0%, rgba(0,0,0,.75) 100%);
}
.prelaunch .content {
    padding: 50px;
}
.prelaunch h1, .prelaunch h2 {
    color: white;
    display: inline;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 16px 0 rgba(0, 0, 0, 0.75), -16px 0 rgba(0, 0, 0, 0.75);
    padding: 5px 0;
    line-height: 1.72;
}
header {
    height: 80px;
    padding: 1em;
    background-color: #2f3747;
}
.logo {
    height: 100%;
}
.auth-panel {
    color: white;
    float: right;
}
div,
span {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body,
button,
input,
select {
    font-family: Din, Verdana, Helvetica;
}
.content {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.ng-submitted .ng-invalid {
    border-color: red;
    outline-color: red;
}
form .ng-valid {
    border-color: green !important;
    outline-color: green;
}
.messages {
    font-size: smaller;
    padding-top: 5px;
    padding-bottom: 10px;
    color: red;
}
.form-container {
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    padding: 1em;
    background-color: white;
}
.form-container input {
    width: 100%;
}
button, input[type=submit] {
    color: #cb2040;
    background: white;
    border: 1px solid #cb2040;
    border-radius: 3px;
    padding: .75em 2em;
    cursor: pointer;
    text-transform: uppercase;
}

button,
input,
select {
    font-size: 1em;
}
button:hover, input[type=submit]:hover {
    color: white;
    background: #dc1732;
}
select,
input[type=text],
input[type=email],
input[type=password] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: .5em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    /*    docus border: 1px solid #2f3747; */
}
button:focus, input:focus {
    outline: none;
}
.errors {
    color: #dc1732;
    padding: .25em .5em;
    height: 2em;
    opacity: 0;
}
.ng-submitted .errors {
    opacity: 1;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 0 2px #2f3747;
}
tr:hover {
    color: white;
    background: #dc1732;
}
th {
    text-align: left;
    background: #2f3747;
    color: white;
    text-transform: uppercase;
    padding: .5em;
}
td {
    padding: .5em;
}
